.RecuadroPelicula{
  margin: 23px;
  padding-top: 25px;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 82, 82);
}

.LetrasMedianas{
  font-size: 27px;
  color: rgb(126, 126, 126);
  text-align: left;
}

.LetrasChicas{
  font-size: 20px;
  color: rgb(126, 126, 126);
  text-align: left;
}
.contenedor{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fondoGrisClaro{
  background-color: rgb(66, 66, 66);
}

.FondoGrisOscuro{
  background-color: rgb(43, 43, 43);
}
html{
  background-color: rgb(43, 43, 43);
}

.Espaciado{
  height: 30px;
}

.CuadroIframe{
  padding: 20px;
  margin-top: 10px;
}

.NombrePelicula{
  font-size: 40px;
}

.LetrasGrandes{
  font-size: 55px;
  font-family: sans-serif;
}
.estrenos{

}

.padding15px{
  padding-bottom: 25px;
  padding-top: 25px;
}

.height-sinopsis{
  height: 390px;
}

.padding-bottom{
  padding-bottom: 25px;
}

.margin-1{
  margin-bottom: -1rem;
}

.padding-top{
  padding-top: 25px;
}

.imagendepelicula{
  width: 260px;
}

.TituloPelicula{
  font-size: 35px;
  font-family: monospace;
  color: black;
}

.Titulo{
  font-size: 40px;
}

.TextAreaPelicula{
  border-radius: 2px;
  background-color: rgb(80, 80, 80);
}

.FormLog{
  padding: 30px;
  margin: 30px;
}
.LetrasBlancas{
  color: white;
}

.letra30px{
  font-size: 30px;
}
