{{!-- {{#each comentarios}}
  <div class="col-12 FondoGrisMuyClaro Comentario-Box">
    <div class="nombre_usuario_caja_comentarios">
      <h4>{{nombre_usuario}} dice:</h4>
    </div>
    <div class="FondoGrisMuyClaro LetrasBlancas cuerpo_comentarios">
      {{cuerpo}}
    </div>
  </div>
{{/each}} --}}
